[build]
  publish = "dist"
  command = "npm run build"
[build.environment]
  NODE_VERSION = "24.12.0"
  NPM_VERSION = "11.6.2"
[[headers]]
  for = "/posts.json"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Type = "application/json"
