@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme tokens */
@theme {
  /* Primary */
  --color-primary: #f97316;
  --color-primary-light: #fb923c;
  --color-primary-dark: #ea580c;

  /* Accent */
  --color-accent: #eab308;
  --color-accent-light: #fbbf24;
  --color-accent-dark: #ca8a04;
}

#moon-icon {
	display: none;
}

.dark {
	#sun-icon {
		display: none;
	}

	#moon-icon {
		display: block;
	}
}
